* {
  /*border: 1px solid red;*/
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*.App-header {
  width: 1024px;
  height: 50px;
  background-color: #323639;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0);
}*/

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.column {
    /*float: left;*/
    /*width: 50%;*/
}

h2 {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    width: 100%;
    height: 50px;
    background-color: #323639;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0);

    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    /*text-align: center;*/
    text-decoration: none;

    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d6d6d7;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Change the color of links on hover */
.topnav a:hover {
    /*background-color: #ddd;*/
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    /*background-color: #4CAF50;*/
    color: white;
}

.topnav h2 {
  color: white;
  margin-left: 20px;
}

.topnav h2:hover {
  text-decoration: none;
}

.topnav h2.active {
  text-decoration: none;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
  /*border-radius: 5px;*/
}

.white-card {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-weight: bold
}

.black-card-in-play {
  display: flex;
  justify-content: center;


  /*background-color: red;*/
}

.center {
    /*margin: auto;
    width: 50%;
     border: 3px solid green;
    padding: 10px;*/

    display: none;
    flex-direction: column;
}

.black-card {
  color: white;
  font-weight: bold;

  width: 318px;
  height: 398px;
  border-radius: 5px;
  background-color: #323639;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);

  font-family: Arial;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: 32px;
}

p {
  margin: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
