* {
  /*border: 1px solid red;*/
}

.appContainer {
  height: 100vh;
  width: 100vw;
  background-color: #e9ebee;

  overflow: hidden;
}

h1 {
  font-family: Arial;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

h2 {
/*  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;*/
}

p {
/*  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);*/
}

.header-brand {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.header-1 {
  font-family: Arial;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.header-2 {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  opacity: 0.84;
}

.lbl-text {
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.54);
}

.margin-text {
  margin-top: 32px;
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    /* Ensure nav always at front*/
    z-index: 9999;

    overflow: hidden;
    background-color: #323639;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0);

    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
    justify-content: space-between;
}

/* Style the links inside the navigation bar */
.topnav a {
    /*float: left;*/
    color: #f2f2f2;
    /*text-align: center;*/
    text-decoration: none;
    border-color: red;

    margin-left: 16px;

    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d6d6d7;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Change the color of links on hover */
.topnav a:hover {
    /*background-color: #ddd;*/
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    /*background-color: #4CAF50;*/
    color: white;
}

.topnav h2 {
  color: white;
  margin-left: 20px;
}

.topnav h2:hover {
  text-decoration: none;
}

.topnav h2.active {
  text-decoration: none;
}

.nav-right {
  width: 540px;

  display: flex;
  flex-direction: row;
  margin-right: 16px;
}

.nav-left {
  margin-left: 16px;
}

.primary-button {
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 16px 1em 0px 16px;
  background: transparent;

  background-color: none;
  color: #d94a4d;
  border: 2px solid #d94a4d;

  font-size:16px;
  font-weight: bold;
}

.primary-button:hover {
  border-color: none;
  background-color: #d94a4d;
  color: white;
}

.primary-button:focus {
  outline: none;
}

.content {
  display: flex;
  justify-content: center;
  /*height: 100vh;*/

  /* Ensure navbar isn't overlaying*/
  margin-top: 60px;
}

.card {
  /*border-radius: 5px;*/
}

.black-card-in-play {
  width: 321px;
  display: flex;
  justify-content: center;

  /*background-color: red;*/
}

.center {
    display: none;
}

.propose-black-card {
  color: red;
  display: none;
}

.current-round-page {
  margin-top: 32px;
}

.black-card {
  width: 318px;
  height: 398px;
  border-radius: 5px;
  background-color: #323639;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);

  color: white;
  font-family: Arial;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

}

.card-text {
  padding: 20px;
}

.time-left {
  margin-top: 32px;
  text-align: center;
  /*height: 52px;*/
}

.white-card-row {
  width: 505px;
  padding: 0px;
  margin-top: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;

  position: relative;

  /*background-color: red;*/
}

.left-side {
  /*background-color: purple;*/
  width: 336px;
  height: 186px;
  /*margin-left: 109px;*/
  position: absolute;
  top: 0px;
  right: 0px;

  display: flex;
  flex-direction: column;
  justify-content:
}

.trade-div {
  /*flex-grow: 1;*/
  /*width: 320px;*/
  position: absolute;
  bottom: 5px;

  display: flex;

  /*background-color: green;*/
  align-items: space-between;
  justify-content: space-between;
}

.white-card-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 20px;
}

.price-label-div {
  text-align: left;
}

.balance-label-div {
  text-align: left;
}

.white-card {
  background-color: white;
  color: black;
  font-weight: bold;

  width: 149px;
  height: 186px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);

  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.white-cards-in-play {
  width: 671px;
  margin-left: 84px;
  overflow: auto;

  /*background-color: blue;*/
}

.white-card-filter {
  display: flex;
}

.white-card-filter-item-active {
  border-bottom: 3px solid #323639;
}

.white-card-list {
  height: calc(100vh - 150px);
  overflow: auto;
}


/*CREATE CARD VIEW*/

.create-card-title {
  margin-top: 32px;
}

.create-card-toggle {
 margin-top: 20px;
 margin-bottom: 20px;
}

/* HALL OF SHAME */

.hall-of-shame-div {
  /*background-color: red;*/

  /*height: calc(100vh - 150px);*/
  margin-top:32px;

  display: flex;
  flex-direction: row;
}

.centered-title {
  margin-top: 32px;
  text-align: center;
}

.hall-of-shame-item {
  margin-right: 10px;
}

.hall-of-shame-card {
  padding: 20px;
}

.hall-of-shame-item-lbls {
  width: 168px;
  /*background-color: yellow;*/

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.hall-of-shame-price-lbl {
  margin-bottom: 10px;
}

.rules-div {
  width: 996px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-text {
  text-align: center;
}

.limited-width {
  width: 768px;
}

.flex-box-container {
  display: flex;
  justify-content: center;
  align-items: center;

  /*height: 100vh;*/
  /*width: 100vw;*/
  background-color: #e9ebee;
}


/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
